@import "../../App.scss";

.table-container {
  overflow-y: auto;
  flex-grow: 1;
  .table {
    background-color: white;
    thead {
      th {
        position: sticky;
        top: 0;
        background-color: $primary-color-dark;
        color: white;
      }
    }
    height: 100%;
  }
}
