@import "../../../colors.scss";

.table-container {
  overflow-y: auto;
  flex-grow: 1;
  .table {
    background-color: white;
    thead {
      th {
        position: sticky;
        top: 0;
        font-weight: 100;
        letter-spacing: 1px;
        background-color: $primary-color;
        text-transform: uppercase;
        color: white;
      }
    }
    tbody {
      tr td {
        vertical-align: middle;
      }
    }
    height: 100%;
  }
}
