@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.playerScreen {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  background-color: $light;
  flex-direction: column;
}

.row-count {
  color: #aaa;
}
